.post-body a {
    word-break: break-all;
}

.post-body {
    color: #555;
}

.post-body img {
    max-width: 100%;
    height: auto;
}

.table-container {
    overflow: auto
}

pre {
    margin: 0;
    background-color: #2b2b2b;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 6px
}

pre code {
    display: block;
    overflow-x: auto;
}

.table-container table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: .875em;
    margin: 0 0 20px;
    width: 100%
}

.table-container tbody tr:nth-of-type(odd) {
    background: #f9f9f9
}

.table-container tbody tr:hover {
    background: #f5f5f5
}

.table-container caption th td {
    font-weight: 400;
    padding: 8px;
    text-align: left;
    vertical-align: middle
}

.table-container th td {
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd
}

.table-container th {
    font-weight: 700;
    padding-bottom: 10px
}

.table-container td {
    border-bottom-width: 1px
}

.post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
    border-left: 4px solid #51b26d;
    margin-bottom: 10px;
    margin-left: -4.59%;
    padding-left: 32px;
    border-bottom: none
}

blockquote {
    margin: 0;
    color: #2e405b;
    border-left: 4px solid #1098ad;
    background-color: #e3f2fd;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 0 0 0 10px
}

.post-body p a {
    text-decoration: none;
    color: #0593d3;
    border-bottom: none;
    border-bottom: 1px solid #0593d3
}

.post-body p a:hover {
    color: #51b26d;
    border-bottom: none;
    border-bottom: 1px solid #51b26d
}

.post-body p {
    margin: 0 0 20px;
}

.yoshino-button-container a:hover {
    text-decoration: none;
    color: #f5f5f5;
}

.post-body pre {
    margin: 10px;
}

.post-toc-wrap {
    overflow-x: hidden;
    overflow-y: auto;
}

.post-toc {
    font-size: 13px;
}

.post-toc ol {
    list-style: none;
    margin: 0;
    padding: 0 2px 5px 10px;
    text-align: left
}

.post-toc ol>ol {
    padding-left: 0
}

.post-toc ol a {
    text-decoration: none;
    color: #0593d3;
    border-bottom-color: #ccc;
    transition-property: all;
    transition-delay: 0s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out
}

.post-toc .nav-item {
    line-height: 1.8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.post-toc .nav .nav-child {
    display: none
}

.post-toc .nav .active>.nav-child {
    display: block
}

.post-toc .nav .active-current>.nav-child {
    display: block
}

.post-toc .nav .active-current>.nav-child>.nav-item {
    display: block
}

.post-toc .nav .active>a {
    border-bottom-color: #51b26d;
    color: #51b26d
}

.post-toc .nav .active-current>a {
    color: #51b26d
}

.post-toc .nav .active-current>a:hover {
    color: #51b26d
}

footer {
    font-size: 12px;
    color: #b9f6ca;
    padding: 15px 0 10px;
    line-height: 1.5;
    text-align: center;
    background: #51b26d;
}

footer span {
    margin: 0 5px 0 5px;
}

footer a:hover {
    color: #69f0ae
}

.archives-list li {
    margin-left: 5%;
    list-style: disc;
    margin-bottom: 30px;
    border-bottom: 1px dashed #ccc;
    color: #555;
}

.info-card-fixed {
    background-color: #f5f5f5;
    position: fixed;
    top: 24px;
    left: auto;
    width: 22%;
    margin: 0 0 0 10px
}

/* copy from mdui */

.drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% - 56px);
    max-width: 16.59%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    will-change: transform;
    -webkit-overflow-scrolling: touch
}

@media (max-width: 1600px) {
    .drawer {
        max-width: 260px;
    }
}

.width-transition {
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}